

.big-banner {
    background-color: #F5CB5C;
    width: 100%;
    top: 0;
    left: 0;
}

#top-jumbotron {
    margin-bottom: 0;
}


.custom-margin {
    margin-top: 400px!important;
}

body {
    background-color: #F8F8F8;
    padding-top: 50px;
}

.line-spacing {
    line-height: 20px;
}

* {
    box-sizing: border-box;
}

/*.button-custom {*/
/*    background: white!important;*/
/*    padding: 1rem 4rem;*/
/*    border: 2px solid black;*/
/*    border: 2px;*/

/*}*/

/*.btn-custom:hover {*/
/*    background: black;*/
/*    border:2px solid black;*/
/*    color: black*/
/*}*/

.wrapper {
    float: right;
    width: 300px;
    height: 300px;
    display: block;
    position: relative;
    padding-right: 380px;
}

.head {
    width: 50px;
    height: 60px;
    border: 5px solid black;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 21px;
    left: 133px;
    z-index: 1;
    animation: rock 1s alternate infinite ease-in-out;
    transform-origin: center bottom;
}

/*@keyframes rock {*/
/*    0% {*/
/*        transform: rotate(-10deg);*/
/*    }*/
/*    100% {*/
/*        transform: rotate(10deg);*/
/*    }*/
/*}*/

.torso {
    width: 6px;
    height: 100px;
    border: 3px solid black;
    display: block;
    position: absolute;
    top: 80px;
    left: 156px;
}

.leftleg {
    width: 6px;
    height: 100px;
    border: 3px solid black;
    display: block;
    position: absolute;
    top: 175px;
    left: 155px;
    transform: rotate(12deg);
    transform-origin: top;
}

.rightleg {
    width: 6px;
    height: 100px;
    border: 3px solid black;
    display: block;
    position: absolute;
    top: 175px;
    left: 157px;
    transform: rotate(-12deg);
    transform-origin: top;
}

.leftarm {
    width: 100px;
    height: 6px;
    border: 3px solid black;
    display: block;
    position: absolute;
    top: 86px;
    left: 57px;
    animation: wave 1s alternate infinite ease-in-out;
    transform-origin: 100%;
}

@keyframes wave {
    0% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(40deg);
    }
}

.rightarm {
    width: 100px;
    height: 6px;
    border: 3px solid black;
    display: block;
    position: absolute;
    top: 86px;
    left: 161px;
    animation: wave2 1s alternate infinite ease-in-out;
    transform-origin: 0%;
}

/*@keyframes wave2 {*/
/*    0% {*/
/*        transform: rotate(20deg);*/
/*    }*/
/*    100% {*/
/*        transform: rotate(-40deg);*/
/*    }*/
/*}*/

.leftfoot {
    width: 30px;
    height: 6px;
    border: 3px solid black;
    display: block;
    position: absolute;
    top: 270px;
    left: 110px;
    transform: rotate(8deg);
}

.rightfoot {
    width: 30px;
    height: 6px;
    border: 3px solid black;
    display: block;
    position: absolute;
    top: 270px;
    left: 178px;
    transform: rotate(-8deg);
}

.reviews-padding {
    margin-top: 150px;
    margin-bottom: 200px;
}

.review-bg-color {
    background-color: floralwhite;
    width: 100%;
    top: 0;
    left: 0;
}

#middle-jumbotron {
    margin-bottom: 0;
}

.top-buffer {
    margin-top:20px;
    justify-content: center;
    justify-items: center;
}

.grey-card {
    background-color: lightgray;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}

.card-hover:hover {
    transition: all .4s ease;
    transform: scale(1.1);
    box-shadow: 0 5px 8px grey;
}
.card-hover {
    border-radius: 10px;
    height: 420px;
    overflow: hidden;
    cursor: pointer;

}



/* This is for the border around the about text  on about page */
.innerPara{padding:20px ;}
legend{width:200px;padding:10px 20px;}


.end-bg-color {
    background-color: #E8EDDF;

}



#bottom-jumbotron {
    margin-bottom:0;
}

.padding-image {
    padding-top: 50px;
}

.heading-padding {
    padding-bottom: 20px;
}

.arrow-down {
    width: 6px;
    height: 100px;
    border: 3px solid black;
    display: block;
    position: absolute;
    top: 175px;
    left: 155px;
    transform: rotate(12deg);
    transform-origin: top;
}

.footer-bgc {
    background-color: white;

}

.download {
    background-color: grey;
}

#myBtn {
    align-content: end;
}


.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
    margin-top: 0;
}

body{
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
}
.question{
    font-weight: 600;
}
.answers {
    margin-bottom: 20px;
}
.answers label{
    display: block;
}
#submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: #38a;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}




