/*.big-banner {*/
/*    background-image: url('../images/bgscreen.jpg');*/
/*    width: 100%;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

.big-banner {
    background-color: #EFF52F;
    width: 100%;
    top: 0;
    left: 0;
}

.ui-ux {
    background-image: url("../images/UIvsUX.PNG");
}

.custom-margin {
    margin-top: 400px;
}

body {
    background-color: #F8F8F8;
}

.line-spacing {
    line-height: 20px;
}

* {
    box-sizing: border-box;
}

.wrapper {
    float: right;
    width: 300px;
    height: 300px;
    display: block;
    position: relative;
    padding-right: 380px;
}

.head {
    width: 50px;
    height: 60px;
    border: 5px solid black;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 21px;
    left: 133px;
    z-index: 1;
    animation: rock 1s alternate infinite ease-in-out;
    transform-origin: center bottom;
}

/*@keyframes rock {*/
/*    0% {*/
/*        transform: rotate(-10deg);*/
/*    }*/
/*    100% {*/
/*        transform: rotate(10deg);*/
/*    }*/
/*}*/

.torso {
    width: 6px;
    height: 100px;
    border: 3px solid black;
    display: block;
    position: absolute;
    top: 80px;
    left: 156px;
}

.leftleg {
    width: 6px;
    height: 100px;
    border: 3px solid black;
    display: block;
    position: absolute;
    top: 175px;
    left: 155px;
    transform: rotate(12deg);
    transform-origin: top;
}

.rightleg {
    width: 6px;
    height: 100px;
    border: 3px solid black;
    display: block;
    position: absolute;
    top: 175px;
    left: 157px;
    transform: rotate(-12deg);
    transform-origin: top;
}

.leftarm {
    width: 100px;
    height: 6px;
    border: 3px solid black;
    display: block;
    position: absolute;
    top: 86px;
    left: 57px;
    animation: wave 1s alternate infinite ease-in-out;
    transform-origin: 100%;
}

@keyframes wave {
    0% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(40deg);
    }
}

.rightarm {
    width: 100px;
    height: 6px;
    border: 3px solid black;
    display: block;
    position: absolute;
    top: 86px;
    left: 161px;
    animation: wave2 1s alternate infinite ease-in-out;
    transform-origin: 0%;
}

/*@keyframes wave2 {*/
/*    0% {*/
/*        transform: rotate(20deg);*/
/*    }*/
/*    100% {*/
/*        transform: rotate(-40deg);*/
/*    }*/
/*}*/

.leftfoot {
    width: 30px;
    height: 6px;
    border: 3px solid black;
    display: block;
    position: absolute;
    top: 270px;
    left: 110px;
    transform: rotate(8deg);
}

.rightfoot {
    width: 30px;
    height: 6px;
    border: 3px solid black;
    display: block;
    position: absolute;
    top: 270px;
    left: 178px;
    transform: rotate(-8deg);
}

.reviews-padding {
    margin-top: 200px;
    margin-bottom: 100px;
}


.top-buffer {
    margin-top:20px;
    justify-content: center;
    justify-items: center;
}

.grey-card {
    background-color: lightgray;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    padding-top: 20px;
    text-align: center;
}

.card-hover:hover {
    transition: all .4s ease;
    transform: scale(1.1);
    box-shadow: 0 5px 8px grey;
}
.card-hover {
    border-radius: 15px;
    height: 270px;
    overflow: hidden;
    cursor: pointer;
}


.copyright-notice {
    margin-top: 200px;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}


/* This is for the border around the about text  on about page */
.innerPara{padding:20px ;}
legend{width:200px;padding:10px 20px;}


.uiux-explained {

}

